<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="IceWarpUrl" value="http://localhost/icewarpapi/"/>
    <add key="AdminEmail" value="test@testing.co.uk"/>
    <add key="AdminPassword" value="Password1"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
